.paymentDetails{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;

    min-height: 30vh;
    width: 90%;
    
    margin: 0 auto;

    text-align: center;
    
}

.paymentDetails .formWrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;

    margin-bottom: 5rem;
    position: relative;
}

.paymentDetails .group{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
    box-shadow: var(--darkShadowDeep);

}

.paymentDetails .center{
    position: absolute;
    bottom: -55px;
    left: 34.5%;

    padding: 1rem;
    margin-top: 2rem;

    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-self: center;

    
    width: 31%;

}

@media (max-width: 480px){
    .paymentDetails .formWrap{
        display: flex;
        flex-direction: column;
        
    }
    .paymentDetails .center{
        position: unset;
        margin: 0;

        width: 100%;
    }
}