.sign-in{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    min-height: 30vh;
    width: 100%;
    
    text-align: center;

}
.sign-in .wrap{
    padding: 2rem;
    box-shadow: var(--darkShadowDeep);

}
.email-signIn .button{
    background-color: white;
    color: #000;
    box-shadow: var(--darkShadow);
    margin: 1rem 0;
    width: 100%;
}
.social-signIn{
    align-items: center;
    text-align: center;
    border-radius: 5px;
}

.social-signIn button{
    background-color: rgb(196, 58, 58);
    box-shadow: var(--darkShadow);
}
.social-signIn button:hover{
    background-color: red;
}
.links{
    display: block;
    width: 100%;
    margin-top: 1rem;
    color: black;
    padding: .5rem 1rem;
}
.links a{
    color: black;
    padding: .5rem 1rem;
    border-radius: 4px;
}
.links a:hover{
    background-color: rebeccapurple;
    color: white;
}
.form-wrap .errormsg{
    list-style: none;
    color: red;
    font-size: larger;

}