.admin-toolbar{
    display: inline-block;
    background-color: black;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%;

    box-sizing: border-box;
}

.admin-toolbar ul{ list-style: none; text-decoration: none; float: right; }

.admin-toolbar li{
    display: inline-block;
    padding: 0px;

}

.admin-toolbar li a{
    display: block;
    font-size: 1.1rem;
    line-height: 1;
    padding: 5px 10px;
    margin: 5px 0 0 0;
    color: white;
    transition: all .4s ease-in-out;

}
.admin-toolbar li a:hover{
    background-color: rgba(255, 255, 255, .6);
    color: black;
    transition: all .4s ease-in-out;
}