.checkout{
    color: purple;
    width: 80%;
    margin: 0 auto 5rem auto;
    min-height: 100vh;
}
.checkout h1{
    text-align: center;
    margin-top: 1rem;
}
.checkout .cart{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1rem;
    margin-top: 2rem;
}

.checkout .checkout-header{
    font-size: 2rem;
    text-align: center;
    margin: 0;
    border-bottom: 2px purple solid ;
}

.checkout .main-table{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
table{
    width: 100%;
}
th, td{
    width: 20%;
}
tr, th{
    padding: .5rem 0;
}

td{
    font-size: 2rem;
    padding: 1rem 0;
    margin: 0 0 0 5rem;
}
/* .checkout .total-cart, .total-cart tr td{
    padding: 1rem;

} */
.errorMsg{
    font-size: 2rem;
    margin: 0 auto;
    color: red;
    border-radius: 4px;

}
.cart-btn{
    background-color: transparent;
    color: white;
    
}
img{
    width: 100px;
    height: 100px;
    border-radius: 4px;

}
@media (max-width: 420px){
    .checkout{
        font-size: 1rem;
        width: 90%;
        margin: 2rem 0;
        padding: 0;
    }
    .checkout .cart{
        font-size: 6px;

    }
    .checkout .main-table{
        margin: 1rem 1rem 1rem 0;
        padding: 0;
    }
    .checkout .checkout-header, .checkout-header tbody tr{
        margin: 0 1rem;

    }
    
    table{ 
        width: 80%;
    }
    th{
        margin: 0 auto;
    }
    tr{
        margin: 1rem auto;
        padding: 0;

    }
    .total-cart{
        margin: 0;
        padding: 0;
    }
    #del{
        display: none;
    }
    .cart-item{
        margin: 1rem auto;
        padding: 1rem;
    }
    
}