.checkout{
    color: purple;
    padding: 2rem 10rem;
    margin: 0 auto 5rem auto;
    min-height: 100vh;
}
.checkout h1{
    text-align: center;
}
.checkout .cart{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 1rem;
}

.checkout .checkout-header{
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
}

.checkout .main-table{
    margin: 0 auto;
}
table{
    width: 100%;
}
tr, th{
    padding: .5rem 1rem;
}

td{
    font-size: 2rem;
    padding: 1rem;

}
.checkout .total-cart, .total-cart tr td{
    padding: 0 1rem;

}
.errorMsg{
    font-size: 2rem;
    margin: 0 auto;
    color: red;
    border-radius: 4px;

}

@media (max-width: 420px){
    .checkout{
        font-size: 1rem;
        width: 90%;
        margin: 2rem 0;
        padding: 0;
    }
    .checkout .main-table{
        margin: 1rem 1rem 1rem 0;
        padding: 0;
    }
    table{ 
        width: 80%;
    }

    tr{
        margin: 1rem auto;
        padding: 0;

    }
    .total-cart{
        margin: 0;
        padding: 0;
    }
}