:root{
    --primaryColor: #7555a1;
    --secondaryColor: #F68B1E;
}
.product-page{
    background-color: white;
    color: var(--primaryColor);
    font-size: 2rem;   
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

    min-height: max-content;
    margin-top: 2rem 0;
    padding: 2rem auto;

}
.image-wrapper{
    align-self: center;
    margin: 0; padding: 0;
}
img{
    width: 240px;
    height: auto;
    max-width: 100%;
}
.product-page__details{
    align-self: center;
    font-size: small;

}
.product-page__details ul{
    list-style-type: none;
}


@media (max-width: 480px){
    .product-page{
        border: 2px solid purple;

        min-height: 100vh;

        grid-template-columns: 1fr;

        padding: 1rem;

        grid-gap: 0;
    }
    .image-wrapper,
    .product-page__details{
        align-self: unset;
        font-size: x-large;
    }
    .product-page__details ul, li{
        padding: 0;
        text-align: justify;

    }
    .btn{
        margin-left: 0;
    }
    img{
        width: 300px;
    }
}