html{
    font-size: 10px;
}
html, body{
    padding: 0;
    margin: 0;
}
html, body, #root{
    height: 100%;
}
*, ::before, ::after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
} 
a{
    text-decoration: none;
}
a, a:hover{
    transition: all .3s ease-in-out;
}

.background{
    height: 100vh;
    width: 100%;
    pointer-events: all;
}

.background-item{
    width: 100%;
    height: 100vh;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    pointer-events: auto;
}
.background-item::after{
    content: '';
    position: absolute;
    top: 0; left: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    z-index: -1;

    pointer-events: auto;
} 